$phone: 768px;
$tablet: 992px;
$small_monitor_tablet: 1200px;
$hd: 1490px;

@mixin xs {
  @media (max-width: #{$phone}) {
    @content;
  }
}

@mixin sm {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin md {
  @media (max-width: #{$small_monitor_tablet}) {
    @content;
  }
}

@mixin bxl {
  @media (max-width: #{$hd}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$hd}) {
    @content;
  }
}
